{%load static%}
<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{%block title%}Kiosko{%endblock%}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css'%}"  media="screen,projection"/>

    <link href="{% static 'css/styleKiosko.css'%}" rel="stylesheet" type="text/css" >
    <link href="{% static 'css/simple-sidebar.css'%}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{%static 'sweetalert-master/dist/sweetalert.css' %}">

    <script src="{% static 'sweetalert-master/dist/sweetalert.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js'%}"></script>
</head>
<body class="#cfd8dc blue-grey lighten-4" onload="loadTabla()">
     <header>
         <div class="col s12 center-align"><span class="flow-text">Bienvenidos</span></div>
         
     </header>
    
     <main>
         {% block sidebar %}
         <ul id="slide-out" class="side-nav fixed fill-height-or-more">
             {% for poscategory in latest_name_list %}
             <li >
                <a href="{% url 'productComida' poscategory.id %}" class="waves-effect waves-light btn-large btnContent #01579b light-blue darken-4 center-align">
                    <p class="black-text">{{poscategory.name}}</p>
                    <img src="data:image/png;base64,{{poscategory.image}}" class="imgbtn">
                </a>
            </li>
             {% endfor %}
                
         </ul>
         <a href="#" data-activates="slide-out" class="button-collapse hide-on-large-only"><i class="material-icons">menu</i></a>
         {% endblock %}
         {% block table %}
            <div class='row'>
                <a class="modal-trigger waves-effect waves-light btn right" id="btnorder" href="#modales">
                    <p>
                        Sub-total:<span id="SubTotal"></span><br>
                        IVA:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<span id="IVA"></span><br>
                        Total:&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<span id="Total"></span><br>
                    </p>
                </a>
            </div>
            <div id="modales" class="modal bottom-sheet center">
                <div class="modal-content center">
                    <h4>Lista de Ordenes</h4>
                    <table class="centered highlight" id="tableproduct">
                        <thead class="tablehead">
                            <tr>
                                <th class="text" width="70%">Nombre</th>
                                <th class="text" width="15%">Cant.</th>
                                <th class="text" width="15%">Prec.</th>
                                <th class="text" width="15%">Act.</th>
                            </tr>
                        </thead>
                        <tbody id="tablebody" class="tablebody">

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                <a href="{% url 'order'%}" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                </div>
            </div>
        {% endblock %}
        <!--contenido de la pagina-->
        <div id='content'>
            {% block content %}
            {% endblock %}


        </div>
     </main>
     <footer>

     </footer>
    <!--Scripts--> 
    <script type="text/javascript">

    // Initialize collapse button
    $(".button-collapse").sideNav();

    $(document).ready(function(){
        $('.modal-trigger').leanModal();
    });

    </script>
    <script type="text/javascript" src="{% static 'js/app.js'%}"></script>
</body>
</html>

