
.bodykiosko { 
  background: url(../img/restaurant2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bodyindex { 
  background: url(../img/comida.gif) no-repeat center center fixed; 
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.textobtn{
	font-family: bold;
  margin: 2px;
  
}
.tablesize{
  height: 300px;
}
.imagebutton{
	width:100px;
	height: 100px
}

.textoposicion{
    position:absolute;
    bottom:5px;
    right:10px;
}
.btnproduct{
  width:  200px;
  height: 200px; 
}
.botonindex{
  width: 200px;
  height:200px;
}

.imgbtn{
  width:100px; 
  height:100px;
}
.fill-height-or-more {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
} 

.fill-height-or-more > li {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

html, body {
  height: 100%;
}

.input-number{
  width: 20px;
  text-align: center;
}
.btnsize{
  width: 30px;
  height: 30px;
}
#table-wrapper {
  position:relative;
}
#table-scroll {
  height:150px;
  overflow:auto;  
  margin-top:20px;
}
#table-wrapper table {
  width:100%;
    
}
#table-wrapper table * {
  color:black;
}
#table-wrapper table thead th .text {
  position:absolute;   
  top:-20px;
  z-index:2;
  height:20px;
  width:35%;
}
#btnorder{
  width:220px;
  height: 130px;
}
.cssCantidad{
font:120% sans-serif;
}