<!DOCTYPE html> 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Kiosko</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        
        {% for producttemplate in latest_name_list %}
            <input type="button" value='{{producttemplate.name}}'><img src='' alt=""></input>
        {% endfor %}
        
    </body>
</html>